Repository kelsiebesingeryeh/Crate, pull requests merged in 2021-04, with the labels that each got.

#59 Test/survey redux
  code/web/package-lock.json
  code/web/src/modules/crate/Item.js
  code/web/src/modules/crate/api/actions.js
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/Survey.test.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
  code/web/src/setup/store.js
Labels: Backend, Crate, Frontend, Survey, User

#62 fix/survey-clothes-AND-accessories
  code/web/src/modules/crate/Item.js
Labels: Frontend, Survey

#70 Feature/survey ux
  code/web/public/images/selected-mark.png
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
  code/web/src/ui/surveyModal/SurveyModal.js
Labels: Crate, Frontend, Survey

#71 Feature/improved api calls
  code/web/public/images/stock/casual-jacket-m-1.jpg
  code/web/public/images/stock/casual-jacket-m-2.jpg
  code/web/src/modules/crate/Item.js
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
  code/web/src/setup/helpers.js
Labels: Frontend, chore, enhancement
